{% extends 'base.html' %}

{% load static %}

{% load wagtailcore_tags wagtailimages_tags %}
{% block headTitle %}
加拿大多伦多方熊地产
{% endblock %}




{% block content %}



    <!-- Promo Block -->
    <section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall"
             data-options='{direction: "reverse", settings_mode_oneelement_max_offset: "150"}'>
      <div class="divimage dzsparallaxer--target w-100 g-bg-pos-bottom-center"
           style="height: 120%; background-image: url({% static 'images/CNtower.jpg' %});"></div>

      <div class="container g-py-200">
        <div class="row">

          <div class="col-md-6">
            <h3 class="g-color-black g-font-weight-300 g-font-size-40 g-line-height-1_2 mb-4">
              Aaron's Team
              </h3>
            <span class="d-block g-color-black-opacity-0_8 g-font-size-16 mb-5"> 加拿大顶尖1%团队 <br>
            Top 10 Realtor Team in Toronto</span>
          </div>

          <!-- <div class="col-md-6 text-right"> -->
              <!-- <img src="{% static 'images/logo_resize_new4.png' %}" alt="方熊地产" height="150px"> -->
              <div class="row justify-content-center">
                <div class="col-sm-10 col-md-9 col-lg-12">
                  <div class="u-shadow-v24 g-bg-white rounded g-py-10 g-px-10">
                  <form action="{% url 'search' %}" method="get">
          					<input type="text" name="query" value="{{ search_query }}">
          					<input type="submit" value="Search">
          				</form>
          				{% if search_results %}
          					<ul>
          						{% for result in search_results %}
          							<li>
          								<h4><a href="{% pageurl result %}">{{ result }}</a></h4>
          								{% if result.search_description %}
          								    {{ result.search_description|safe }}
          								{% endif %}
          							</li>
          						{% endfor %}
          					</ul>
          				{% elif search_query %}
          					No results found
          				{% else %}
          					Please type something into the search box
          				{% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Promo Block -->

    <!-- Icon Blocks -->
    <section class="g-py-100">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-lg-4 g-px-40 g-mb-50 g-mb-0--lg">
            <!-- Icon Blocks -->
            <div class="text-center">
                <a href="/rentingrooms">
              <span class="d-inline-block u-icon-v3 u-icon-size--xl g-bg-blue g-color-white rounded-circle g-mb-30">
                  <i class="icon-finance-086 u-line-icon-pro"></i>
              </span></a>
              <h3 class="h5 g-color-gray-dark-v2 g-font-weight-600 text-uppercase mb-3">今日推介</h3>
              <p class="mb-0">
                最靠谱的投资顾问
              </p>
            </div>
            <!-- End Icon Blocks -->
          </div>

          <div class="col-lg-4 g-brd-left--lg g-brd-gray-light-v4 g-px-40 g-mb-50 g-mb-0--lg">
            <!-- Icon Blocks -->
            <div class="text-center">
                 <a href="http://masterqun.com/promote">
              <span class="d-inline-block u-icon-v3 u-icon-size--xl g-bg-blue g-color-white rounded-circle g-mb-30">
                  <i class="icon-finance-196 u-line-icon-pro"></i>
                </span></a>
              <h3 class="h5 g-color-gray-dark-v2 g-font-weight-600 text-uppercase mb-3">大多房价走势</h3>
              <p class="mb-0">2015到2019年</p>
            </div>
            <!-- End Icon Blocks -->
          </div>



          <div class="col-lg-4 g-brd-left--lg g-brd-gray-light-v4 g-px-40">
            <!-- Icon Blocks -->
            <div class="text-center">
                <a href="http://console.masterqun.com/client/groupAd/">
              <span class="d-inline-block u-icon-v3 u-icon-size--xl g-bg-blue g-color-white rounded-circle g-mb-30">
                  <i class="icon-finance-203 u-line-icon-pro"></i>
              </span></a>
              <h3 class="h5 g-color-gray-dark-v2 g-font-weight-600 text-uppercase mb-3">大多房屋销售量</h3>
              <p class="mb-0">每日实时更新</p>
            </div>
            <!-- End Icon Blocks -->
          </div>

          <div class="container" style="padding-top: 7.14286rem !important;">

              <header class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
                <h2 class="h4 u-heading-v2__title g-color-gray-dark-v2 g-font-weight-600 text-uppercase">房源推荐</h2>
              </header>

              <div class="row">
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="https://mp.weixin.qq.com/s?__biz=MzU5Njc2MTU5Mg==&mid=2247483697&idx=1&sn=5c3fc282b958ba02c469a4cc1b9f7102&chksm=fe5c8fa6c92b06b0582b0fafbc508d1986108d7b76fcc64fdc1c1654bb15628bbfc4f35c2074&mpshare=1&scene=1&srcid=1215eAQkJX1Lx1OhNCGb2Gig&pass_ticket=7ZFkIMwCXXU1G1jjH4woPoDiDvA%2Beg71Ur7%2BoRBEMbvQjOz9%2BboxEZbxV%2F9qwBQo#rd" target="_blank">
                      <img src="/static/images/201903010451.png" alt="Lights" style="width:100%">
                      <div class="text-center">
                        <h3 class="h5 g-color-gray-dark-v2 g-font-weight-300 text-uppercase mb-3">【最新上市房源】坐落全民艺术家社区</h3>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="https://mp.weixin.qq.com/s?__biz=MzU5Njc2MTU5Mg==&mid=2247483771&idx=1&sn=c77649f790d25455f8d8bc48905e18d0&chksm=fe5c8fecc92b06fa87de71fe588dd236a498237505bf167fec351b8cb516bb51a549d141178e&mpshare=1&scene=1&srcid=122834JDXt30Rt1f4pjR2Y6R&pass_ticket=AurYO7qEh8VjxwLwjIwILct5G0oMh8G22XbUWQLxxQKhvhbdqK96y7wSIWQSjJS3#rd" target="_blank">
                      <img src="/static/images/201903010508.png" alt="Nature" style="width:100%">
                      <div class="text-center">
                        <h3 class="h5 g-color-gray-dark-v2 g-font-weight-300 text-uppercase mb-3">【楼花推荐-Prime Condo】 谁说投资一定要大手笔？</h3>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="https://mp.weixin.qq.com/s?__biz=MzU5Njc2MTU5Mg==&mid=2247483723&idx=1&sn=0acf83b8ea8804bf57981b06dae2bddd&chksm=fe5c8fdcc92b06ca13a31726598dc200c563607b2607deebb04d554934dabf6e960f758f7646&mpshare=1&scene=1&srcid=0104d0ejBZBiaoqdKOuQf5fr&pass_ticket=HykZybuFdTB1Ly5Ykk5kxeAwX5Qey5oiINrhMy8kmC3BAsz7jOYPF3kaheaMMAEA#rd" target="_blank">
                      <img src="/static/images/201903010511.png" alt="Fjords" style="width:100%">
                      <div class="text-center">
                        <h3 class="h5 g-color-gray-dark-v2 g-font-weight-300 text-uppercase mb-3">【租房推荐】市中心生活指数满分公寓</h3>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </section>
    <!-- End Icon Blocks -->

    <hr class="g-brd-gray-light-v4 my-0">

    <!-- About Our Company -->
    <section class="1g-bg-secondary">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 align-self-center g-mb-100 g-mb-0--lg">
            <header class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
              <h2 class="h4 u-heading-v2__title g-color-gray-dark-v2 g-font-weight-600 text-uppercase">方熊地产</h2>
            </header>

            <p class="g-font-size-16 g-mb-30">精准的房源数据，详细的排名，贴心的服务</p>

            <ul class="list-unstyled g-color-gray-dark-v4 mb-0">
              <li class="d-flex g-mb-10">
                <i class="icon-check g-color-primary g-mt-5 g-mr-10"></i>查询最新上市房屋
              </li>
              <li class="d-flex g-mb-10">
                <i class="icon-check g-color-primary g-mt-5 g-mr-10"></i>房屋价格走势
              </li>
              <li class="d-flex g-mb-10">
                <i class="icon-check g-color-primary g-mt-5 g-mr-10"></i>RE/MAX 靠谱，大牌
              </li>
              <li class="d-flex g-mb-10">
                <i class="icon-check g-color-primary g-mt-5 g-mr-10"></i>TREB第一手数据
              </li>
            </ul>
          </div>

          <div class="col-lg-6 g-bg-img-hero g-pos-rel" style="background-image: url({% static 'images/map1.png' %});">
            <div class="g-absolute-centered text-center w-100 g-px-40">
              <h2 class="h1 g-color-gray-light-v2 g-font-weight-600 g-letter-spacing-0_5">
                  <span class="u-text-animation u-text-animation--typing"></span></h2>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End About Our Company -->

    <hr class="g-brd-gray-light-v4 my-0">





{% endblock %}



{% block footerScript %}

  <script src="{% static 'js/components/hs.popup.js' %}"></script>
  <!-- JS Plugins Init. -->
  <script>
    $(document).on('ready', function () {
        // initialization of carousel
        $.HSCore.components.HSCarousel.init('.js-carousel');
        // initialization of tabs
        $.HSCore.components.HSTabs.init('[role="tablist"]');
        // initialization of popups
        $.HSCore.components.HSPopup.init('.js-fancybox');
        // initialization of go to
        $.HSCore.components.HSGoTo.init('.js-go-to');
        // initialization of text animation (typing)
        $(".u-text-animation.u-text-animation--typing").typed({
          strings: [
            "大多房屋挂牌量",
            "实时更新",
            "多年销售经验"
          ],
          typeSpeed: 60,
          loop: true,
          backDelay: 1500
        });
      });
      $(window).on('load', function () {
        // initialization of header
        $.HSCore.components.HSHeader.init($('#js-header'));
        $.HSCore.helpers.HSHamburgers.init('.hamburger');
        // initialization of HSMegaMenu component
        $('.js-mega-menu').HSMegaMenu({
          event: 'hover',
          pageContainer: $('.container'),
          breakpoint: 991
        });
      });
      $(window).on('resize', function () {
        setTimeout(function () {
          $.HSCore.components.HSTabs.init('[role="tablist"]');
        }, 200);
      });
  </script>



{% endblock %}
