{% extends 'base.html' %}

{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'vendor/hs-admin-icons/hs-admin-icons.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/bootstrap-select/css/bootstrap-select.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/unify-admin.css' %}">

    <!--<hr class="g-brd-gray-light-v4 my-0">-->

     <!--Header -->
  <section class="g-py-10">
      <div class="container pull-right">
        <form class="col-sm g-py-5 g-ml-15--sm g-ml-20--md g-mr-10--sm u-dropdown--css-animation" aria-labelledby="searchInvoker" action="#!" style="animation-duration: 300ms;">
            <div class="input-group g-max-width-450">
              <input class="form-control form-control-md g-rounded-4" type="text" placeholder="搜索出租房源">
              <button type="submit" class="btn u-btn-outline-primary g-brd-none g-bg-transparent--hover g-pos-abs g-top-0 g-right-0 d-flex
              g-width-40 h-100 align-items-center justify-content-center g-font-size-18 g-z-index-2"><i class="hs-admin-search"></i>
              </button>
            </div>
        </form>

      </div>
  </section>
     <!--End Header -->

  <section class="g-py-10">
      <div class="container">
          <header class="g-brd-default g-mb-20">
              <h2 class="h4 u-heading-v2__title g-color-gray-dark-v2 g-font-weight-600 text-uppercase">房屋列表</h2>
          </header>
          {% for article in articles %}
              <hr class="u-divider u-divider-solid u-divider-center g-brd-green mx-auto g-my-5">
                <a class="h5 thumbnail g-color-blue d-flex mr-3" href="{{article.url}}" title="{{article.title}}">
                Article_ID: {{article.id}}<br>
                Article_Title: {{article.ask_title}} <br>
                <!--<a type="button" href="{{article.url}}">{{article.ask_title}}</a>-->
                </a>
                <ul class="u-list-inline g-font-size-12 g-color-gray-dark-v4">

                  <li class="list-inline-item">

                    <a class="u-link-v5 g-color-primary g-color-red--hover">
                      <i class="hs-admin-comment-alt align-middle"></i>
                      评论
                    </a>
                  </li>
                  <li class="list-inline-item">/</li>
                  <li class="list-inline-item">
                    <a class="u-link-v5 g-color-primary g-color-red--hover">
                      <i class="hs-admin-pulse align-middle"></i>
                      相关文章
                    </a>
                  </li>
                </ul>
          {% endfor %}
      </div>

  </section>


  <script src="{% static 'vendor/cookiejs/jquery.cookie.js' %}"></script>


  <!-- JS Plugins Init. -->
  <script src="{% static 'vendor/appear.js' %}"></script>
  <script src="{% static 'vendor/bootstrap-select/js/bootstrap-select.min.js' %}"></script>
  <script src="{% static 'vendor/malihu-scrollbar/jquery.mCustomScrollbar.concat.min.js' %}"></script>
  <script src="{% static 'vendor/datatables/media/js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'vendor/datatables/media/js/dataTables.select.js' %}"></script>

  <!-- JS Unify -->
  <script src="{% static 'js/hs.core.js' %}"></script>
  <script src="{% static 'js/helpers/hs.hamburgers.js' %}"></script>
  <script src="{% static 'js/components/hs.dropdown.js' %}"></script>

  <script src="{% static 'js/helpers/hs.focus-state.js' %}"></script>
  <script src="{% static 'js/components/hs.datatables.js' %}"></script>
  <script src="{% static 'js/components/hs.popup.js' %}"></script>



{% endblock %}