{% extends 'base.html' %}
{% load staticfiles %}
{% block content%}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

<main class="container-fluid px-0 g-pt-25">
    <section class="g-min-height-80vh g-flex-centered g-bg-lightblue-radialgradient-circle">
      <div class="container g-py-50">
        <div class="row justify-content-center">
          <div class="col-sm-10 col-md-9 col-lg-6">
            <div class="u-shadow-v24 g-bg-white rounded g-py-40 g-px-30">

              <header class="text-center mb-4">
                <h2 class="h2 g-color-black g-font-weight-600">免费注册</h2>
              </header>

              <!-- Form -->

              <div align="center">
                <form method="post">
                   {% csrf_token %}
                  {% for field in form %}
                  <div class="mb-4">
                    <label class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13">{{field.label_tag}}</label><br>
                    {{field}}

                  {% if field.help_text %}
                  <small style="display: none">{{ field.help_text }}</small>
                  {% endif %}
                  {% for error in field.errors %}
                  <p style="color: red">{{ error }}</p>
                  {% endfor %}
                  </div>
                  {% endfor %}

                  <div class="row justify-content-between mb-5">
                    <div class="col-8 align-self-center">
                      <label class="form-check-inline u-check g-color-gray-dark-v5 g-font-size-13 g-pl-25">
                        <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox" name="tos" id="tos" checked>
                        <span class="u-check-icon-checkbox-v6 g-absolute-centered--y g-left-0">
                          <i class="fa" data-check-icon=""></i>
                        </span>
                        I accept the <a class="g-color-blue" href="/tos/">Terms and Conditions</a>
                      </label>
                    </div>
                    <div class="col-4 align-self-center text-right">
                      <button id="saveData" class="btn btn-md u-btn-blue rounded g-py-13 g-px-25" type="submit">注册</button>
                    </div>

                  </div>

                </form>
              </div>

              <!-- End Form -->


              <footer class="text-center">
                <p class="g-color-gray-dark-v5 g-font-size-13 mb-0">已有帐号 <a class=" g-color-blue g-font-weight-600" href="/login">直接登录</a>
                </p>
              </footer>
            </div>
          </div>
        </div>
      </div>
    </section>
</main>

{% endblock %}
