{% extends 'base.html' %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'vendor/hs-admin-icons/hs-admin-icons.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/bootstrap-select/css/bootstrap-select.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/unify-admin.css' %}">

  <section class="g-py-200">
      <div class="container">
          <header class="g-brd-default g-mb-20">
              <h2 class="h2 g-color-gray-dark-v2 g-font-weight-600 text-uppercase"> Uploaded successfully!</h2>
          </header>
      </div>
  </section>
{% endblock %}


